<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huwei.sweetmusicplayer"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>  
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>  
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>  
    <uses-permission android:name="android.permission.REORDER_TASKS"/>  

<application
        android:name=".SweetApplication_"
        android:allowBackup="true"
        android:icon="@drawable/sweet"
        android:label="@string/app_name"
        android:theme="@style/SweetTheme"
        tools:replace="icon,label,theme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"    android:launchMode="singleTask">
        </activity>
        <activity android:name=".SongScanActivity_">
        </activity>

        <service
            android:name=".services.MusicControlerService">
        </service>
        <service
            android:name=".services.ShakeService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.huwei.sweetmusicplayer.services.ShakeService" />
            </intent-filter>
        </service>
        <receiver android:name=".recievers.BringToFrontReceiver" android:priority = "1000">
             <intent-filter>            
                    <action android:name = "com.huwei.action.BringToFront" />
             </intent-filter>
        </receiver>
    </application>

</manifest>